<div class="row" >
    <div class="col-md-8" id="panel-question">
        <div class="text-left">
        <div class="panel panel-default">
            <div class="panel-body" style="text-align:center">
                <h1>GET TITULO DA PERGUNTA</h1>
            </div>
        </div>

         <div class="container-fluid">
            
            <div class="row question-show" style="text-align: left">
                <P>Get descricao da pergunta bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla  </P>
                <button type="button" class="btn btn-primary" > <i class="glyphicon glyphicon-thumbs-up" ></i> Such a Question</button>
                <button type="button" class="btn btn-primary" > <i class="glyphicon glyphicon-thumbs-down" ></i> Go back to the books!</button>
                <button type="button" class="btn btn-primary" > <i class="glyphicon glyphicon-star-empty" ></i> Wow Love it!</button>
            </div>

            <div class="panel panel-default">
                 <div class="panel-heading">
                    <h3 class="panel-title"> Respostas</h3>
                </div>

                <div class="container-fluid panel-question-answer-line">

                    <div class="col-md-4" style="padding-top:10px">
                         <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-thumbs-up"></i>    <span class="badge"> 4 </span> </button>
                         <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-thumbs-down"></i>    <span class="badge"> 8 </span> </button>
                    </div>
                    <div class="col-md-8">
                        Resposta da pergunta bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
                    </div>
                </div>

                <div class="container-fluid panel-question-answer-line">

                    <div class="col-md-4" style="padding-top:10px">
                         <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-thumbs-up"></i>    <span class="badge"> 4 </span> </button>
                         <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-thumbs-down"></i>    <span class="badge"> 8 </span> </button>
                    </div>
                    <div class="col-md-8">
                        Resposta da pergunta bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
                    </div>
                </div>


                <div class="container-fluid panel-question-answer-line">

                    <div class="col-md-4" style="padding-top:10px">
                         <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-thumbs-up"></i>    <span class="badge"> 4 </span> </button>
                         <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-thumbs-down"></i>    <span class="badge"> 8 </span> </button>
                    </div>
                    <div class="col-md-8">
                        Resposta da pergunta bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
                    </div>
                </div>

                                        
            </div>
               
        </div>

        </div>   

    </div>

    <div class="col-md-4">
        <% include searchbar %>
    </div>
</div>