<div class="row">
    <div class="col-md-8">
        <div class="container-fluid">
            <div class="row">
                <% include question_list_tabs %>
            </div>
            <div class="row">
                <% include question_small %>
            </div>
            <div class="row">
                <% include question_small %>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-md btn-block">Perguntar</button>

        <% include searchbar %>
        <% include last %>
        <% include tags %>
    </div>
</div>
