<div class="row" >
    <div class="col-md-8" id="panel-question">
        <div class="text-left">
        <div class="panel panel-default">
            <div class="panel-body" style="text-align:center">
                <h1><div id="question-title-view"></div></h1>
            </div>
        </div>

         <div class="container-fluid">
            <div class="row question-show" style="text-align: left">
                    <div class="col-md-4"  style="vertica-align:center">

                    <button type="button" class="btn btn-primary center-block" > <i class="glyphicon glyphicon-thumbs-up" ></i> Such a Question</button>
                    <div style="text-align:center"> <h4><div id="question-votes-view"></div></h4> </div>
                    <button type="button" class="btn btn-primary center-block" > <i class="glyphicon glyphicon-thumbs-down" ></i> Shame on You! </button>
                    
                    </div>

                <div class="col-md-8">
                    <p>  <div id="question-content-view"></div>  </p>

                </div>
                <!--div >
                    <button type="button" class="btn btn-primary center-block" > <i class="glyphicon glyphicon-star-empty" ></i> Wow Great! </button>
                </div-->
            </div>



            <div class="panel panel-default">
                 <div class="panel-heading">
                    <h3 class="panel-title"> Respostas</h3>
                </div>

                <div id="question-view-answer-list"></div>

            </div>
               
        </div>

        </div>   

    </div>

    <div class="col-md-4">
        <% include searchbar %>
    </div>
</div>