<div class="row">
    <div class="col-md-8">
        <div class="container-fluid">
            <div id="tabs" class="row">
                <% include question_list_tabs %>
            </div>
            <div id="content-view">
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="ask-button">
            <button type="button" onclick="GetQuestionForm();" class="btn btn-primary btn-md btn-block">Perguntar</button>

        </div>

        <% include searchbar %>
        <div id="last-vest-list"></div>        
        <div id="recent-tags-list"></div>
    </div>
</div>
