<div onclick="console.log("Hello World!");" class="container-fluid small-question">
    <div class="row">
        <div class="col-xs-4 counters">
            <div class="answers">
                <div class="question-counters">
                    322
                </div>
                <div class="question-counters-text">
                    respostas
                </div>
            </div>
            <div class="views">
                <div class="question-counters">
                    322
                </div>
                <div class="question-counters-text">
                    visualizações
                </div>
            </div>
            <div class="votes">
                <div class="question-counters">
                    322
                </div>
                <div class="question-counters-text">
                    votos
                </div>
            </div>
        </div>
        <div class="col-xs-8 summary">
            <div class="summary-text">
                <a href="#">Good Jokes Mate Real Funny</a>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 tags">
                        <div class="pull-left">
                            <a class="tag" href="#">joke</a>
                            <a class="tag" href="#">css</a>
                            <a class="tag" href="#">css</a>
                            <a class="tag" href="#">css</a>
                            <a class="tag" href="#">css</a>
                            <a class="tag" href="#">css</a>
                            <a class="tag" href="#">css</a>
                            <a class="tag" href="#">css</a>
                            <a class="tag" href="#">css</a>
                            <a class="tag" href="#">css</a>
                            <a class="tag" href="#">css</a>
                            <a class="tag" href="#">css</a>
                            <a class="tag" href="#">css</a>
                            <a class="tag" href="#">css</a> 
                        </div>
                    </div>
                    <div class="col-xs-6 summary-user-info">
                        <div class="pull-right">
                            08 Aug '14, 12:10 
                            <a href="#">alexandremuzio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>