<div class="container small-question">
    <div class="counters">
        <div class="answers">
            <div class="question-counters">
                322
            </div>
            <div class="question-counters-text">
                respostas
            </div>
        </div>
        <div class="views">
            <div class="question-counters">
                322
            </div>
            <div class="question-counters-text">
                visualizações
            </div>
        </div>
        <div class="votes">
            <div class="question-counters">
                322
            </div>
            <div class="question-counters-text">
                votos
            </div>
        </div>
    </div>
    <div class="summary">
        <h3>
            <a class="summary-text" href="#">Good Jokes Mate Real Funny</a>
        </h3>
    </div>
</div>