<div style="padding-top:5px">
	<textarea id="main"></textarea>
	<div class="row">
		<div class="col-sm-12" id="result">
		</div>
	</div>
</div>

<script>
    $(document).ready(function() {
      $('#main').summernote({
        height: 300,
        });
    });
</script>