<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<HTML>
   <% include partials/header %>

<BODY>        
    <% include partials/navbar %>

    <div class="container">
        <% include partials/create %>
        <hr>
        <% include partials/footer %>
    </div>
</BODY>
</HTML>