<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<HTML>
   <% include partials/header %>
<BODY>
    <script src="public/js/index-load.js"></script>
    <script src="public/js/questions.js"></script>
    <script src="public/js/tags.js"></script>
    <% include partials/navbar %>

    <div class="container">
        <% include partials/content %>
    </div>
    <% include partials/footer %>
</BODY>
</HTML>