<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<HTML>
   <% include partials/header %>
<BODY>
    <script src="public/js/ajax-queries.js"></script>
    <script src="public/js/question-list-load.js"></script>
    <script src="public/js/last-vest-list-load.js"></script>
    <script src="public/js/tag-list-load.js"></script>
    <% include partials/navbar %>

    <div class="container">
        <% include partials/content %>
    </div>
    <% include partials/footer %>
</BODY>
</HTML>