<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<HTML>
   <% include partials/header %>

<BODY>
    <% include partials/navbar %>

    <div class="container">
        <% include partials/content_statistics %>

        <% include partials/footer %>
    </div>

    <script src="../bower_components/d3/d3.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
</BODY>
</HTML>