.small-question {
    border-top: 1px dotted #CCCCCE;
    padding: 20px;
    padding-top: 5px;
}

.question-counters {
    font-size: 17px;
    font-weight: 300;
    color: #777;
    margin-bottom: 0px;
}

.question-counters-text {
    font-size: 10px;
}

.votes {
    float: right;
    padding: 4px;
    margin-bottom: 8px;
    text-align: center;
}

.views {
    float: right;
    padding: 4px;
    margin-bottom: 8px;
    text-align: center;
}

.answers {
    float: right;
    padding: 4px;
    margin-bottom: 8px;
    text-align: center;
}

.counters {
    float: left;
    padding-right: 10px;
}

.summary {
    float: left;
}

.summary-text {
    font-size: 14px;
}

.tags {
}

.tag {
    border-top: 0px solid #CCC;
    border-left: 0px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    background-color: #EEE;
    color: #777777;
    font-size: 11px;
    font-weight: normal;
    padding: 1px 3px;
    text-decoration: none;
    white-space: nowrap;
}

.summary-user-info {
    font-size: 10px;
}

.question-list-tab-panel {
    padding-bottom: 10px;
}

.footer-border {
    padding-top: 5px;
    border-top: 1px dotted #CCCCCE;
}