<div>
	<h2>Provas Recentes</h2>
</div>

<div class="list-group">
    <% lastVestList.forEach(function(item) { %>
       <a href="#" id="<%-'questionvestlist' + item.id %>" class="list-group-item"><span class="badge"><%- item.count %></span><%- item.text %></a>
    <% }); %>
</div>

<div>
	<a href="#" onclick="GetProvasList();">Ver outras provas...</a>
</div>