<div>
	<h2>Tags recentes</h2>
</div>

<div class="btn-toolbar" role="toolbar" aria-label="...">
	<% recentTagsList.forEach(function(item) { %>
	   <a href="#" id="<%- item._id %>" type="button" style="margin-bottom:5px" class="btn btn-primary btn-xs"><%- item.name %></a>

	<% }); %>
</div>