<h2>Ask a question!</h2>

<div class="row">
  	<div class="col-xs-6 col-md-2">
    	<a href="#" class="thumbnail">
      	<img src="http://www.aeitaonline.com.br/wiki/images/8/86/AlexandreMuzio.jpg">
    	</a>
  	</div>
  	<div class="col-xs-6 col-md-10">
  		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon1">@</span>
		  <input id="name" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
		</div>
  		<h4>Your question:</h4>
  		<div class="form-group">
  			<input id="title" type="text" class="form-control" placeholder="Type your question here..." aria-describedby="basic-addon1">
		</div>
		<div style="padding-top:5px">
            <div id="summernote">Code Smell</div>
        </div>
		<h4>Select a tag for your question: </h4>
		<div class="btn-toolbar" role="toolbar" id="usedTagsList"></div>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    		Dropdown
	    		<span class="caret"></span>
	    	</button>
	  		<ul id="allTagsList" class="dropdown-menu" aria-labelledby="dropdownMenu1"></ul>
		</div>
		<h4>Topics: </h4>
  		<div class="form-group">
  			<input type="text" class="form-control" placeholder="Bla Bla Bla..." aria-describedby="basic-addon1">
		</div>
		<div class="btn-group pull-right" role="group" aria-label="...">
		  <button type="button" style="margin-right:10px"class="btn btn-default">Cancel</button>
		  <button type="button" id="sendButton" class="btn btn-primary">Send Question</button>
		</div>
  	</div>
</div>